:root {
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
    --logo-color: #000000;
    --font-color-subtitle: #212121;
    --font-color-text: #757575;
    --font-color-on-dark: #ffffff;
    --font-color-contacts-futer: rgba(255, 255, 255, 0.6);
    --color-selected: #2196f3;
    --background-color-main: #ffffff;
    --background-dark: #2f303a;
    --background-light: #f5f4fa;
    --background-button-hover: #188ce8;
    --transition-dur-fanc: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--background-color-main);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section-paddings {
    padding-top: 94px;
    padding-bottom: 94px;
}
/*---------------------- HEADER------------------------*/
.header-section {
    border-bottom: 1px solid #ececec;
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu,
.nav-menu,
.contacts-menu,
.team-list,
.occupation-list,
.social-list {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--color-selected);

    margin-right: 93px;
}
.logo-color-second {
    color: var(--logo-color);
}
.menu .menu-link.current {
    color: var(--color-selected);
}

.menu-link.current::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--color-selected);
    border-radius: 2px;
}

.menu-link {
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--font-color-subtitle);
    display: block;
    transition: color var(--transition-dur-fanc);
}

.menu-link-paddings {
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-menu-item:not(:last-child),
.contacts-menu-item:not(:last-child) {
    margin-right: 50px;
}
.envelope,
.phone {
    margin-right: 10px;
    fill: currentColor;
}

.contact-mail,
.contact-tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--font-color-text);
    transition: color var(--transition-dur-fanc);
}

.contact-mail {
    margin-left: auto;
}

.menu-link:hover,
.menu-link:focus,
.contact-mail:hover,
.contact-mail:focus,
.contact-tel:hover,
.contact-tel:focus {
    color: var(--color-selected);
}
/*--------------/HEADER-------------*/
/*--------------HERO----------------*/
.hero {
    background-color: #c4c4c4;
    padding: 200px 0;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/bg-img.jpg);
    background-size: cover;
}

.main-title {
    max-width: 650px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--font-color-on-dark);

    margin-bottom: 30px;
}
.order-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--font-color-on-dark);
    cursor: pointer;
    background-color: var(--color-selected);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: color var(--transition-dur-fanc),
        background-color var(--transition-dur-fanc);
}
.order-button:hover,
.order-button:focus {
    color: var(--font-color-on-dark);
    background-color: var(--background-button-hover);
}
/*-----------------/HERO-----------------*/
/*-------------- FEATURES----------------*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.features-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-list-item {
    min-height: 270px;
}

.features-list-item:not(:last-child) {
    margin-right: 30px;
}

.features-bg-icons {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features-subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--font-color-subtitle);
    margin-bottom: 10px;
}
.features-text {
    line-height: 1.71;

    color: var(--font-color-text);
}
/*-------------/FEATURES------------------*/
/*------------- OCCUPATION ---------------*/
.occupation-paddings {
    padding-top: 0;
    padding-bottom: 94px;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: var(--font-color-subtitle);

    margin-bottom: 50px;
}
.occupation-list-item {
    display: block;
    position: relative;
}

.occupation-list-item:not(:last-child) {
    margin-right: 30px;
}

.occupation-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;

    text-transform: uppercase;

    color: var(--font-color-on-dark);
}
.occupation-title-wrapper {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0;
    width: 100%;
}
/*---------------/OCCUPATION----------------*/
/*--------------- TEAM----------------------*/
/* заголовок секции имеет класс аналогичный заголовку предыдущей секции*/
.team-section {
    background-color: var(--background-light);
}
.team-list {
    gap: 30px;
}

.team-members {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    color: var(--font-color-subtitle);
    margin-bottom: 10px;
}
.team-text {
    font-size: 16px;
    line-height: 1.19;

    color: var(--font-color-text);
    margin-bottom: 16px;
}
.team-card-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--background-color-main);
    border: solid #ffffff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
        0 1px 3px rgba(0, 0, 0, 0.12);
}
.social-list {
    justify-content: center;
    gap: 10px;
}
.social-list-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    transition: background-color var(--transition-dur-fanc);
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--color-selected);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: #ffffff;
}

.social-list-icon {
    fill: #afb1b8;
    transition: fill var(--transition-dur-fanc);
}

/*----------------/TEAM------------------*/

/*----------------CLIENTS----------------*/
.clients-list-link {
    display: block;
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition: fill var(--transition-dur-fanc);
}

.clients-list {
    display: flex;
    gap: 30px;
}
.clients-list-item {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    transition: border var(--transition-dur-fanc);
}
.clients-list-item:hover,
.clients-list-item:focus {
    border: 1px solid var(--color-selected);
}

.clients-list-item:hover .clients-icon,
.clients-list-item:focus .clients-icon {
    fill: var(--color-selected);
}
/*-----------------/CLIENTS--------------*/
/*----------------- FUTER----------------*/
.logo-futer {
    margin-bottom: 20px;
    margin-right: 0;
    display: block;
}
.logo-color-on-dark {
    color: var(--font-color-on-dark);
}
.section-footer {
    background-color: var(--background-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact-list {
    line-height: 1.71;
    font-style: normal;
}
.contact-list-item:not(:last-child) {
    margin-bottom: 9px;
}
.address-item {
    color: var(--font-color-on-dark);
    transition: color var(--transition-dur-fanc);
}
.contact-item {
    color: var(--font-color-contacts-futer);
    transition: color var(--transition-dur-fanc);
}
.contact-item:hover,
.contact-item:focus,
.address-item:hover,
.address-item:focus {
    color: var(--color-selected);
}
.futer-subtitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--font-color-on-dark);
    margin-bottom: 20px;
}
.futer-conteiner {
    display: flex;
    align-items: baseline;
}
.futer-conteiner-part:not(:last-child) {
    margin-right: 70px;
}

.futer-social-list-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-dur-fanc);
}
.futer-social-list-icon {
    fill: #fff;
}
.futer-social-list-link:hover,
.futer-social-list-link:focus {
    background-color: var(--color-selected);
}
.social-wrapper {
    margin-right: 93px;
}
.offer-subscribe {
    display: block;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--font-color-on-dark);
    margin-bottom: 20px;
}
.input-email-subscribe {
    display: block;
    width: 358px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--background-dark);
    padding: 15px 16px;
    cursor: pointer;
    margin-right: 12px;
    color: var(--font-color-on-dark);
}

.input-email-subscribe::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}
.input-email-subscribe:focus {
    outline: none;
    border-color: var(--color-selected);
}
.btn-subscribe {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--font-color-on-dark);
    background-color: var(--color-selected);
    padding: 10px 28px;
    border: none;
    border-radius: 4px;
    align-items: center;
    transition: background-color var(--transition-dur-fanc);
}
.btn-subscribe:hover,
.btn-subscribe:focus {
    background-color: var(--background-button-hover);
}
.icon-send {
    margin-left: 10px;
}
.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------------- /FUTER----------------*/

/*-----------------MODAL WINDOW ------------*/
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-dur-fanc),
        visibility var(--transition-dur-fanc);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    background-color: #fff;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;
    border-radius: 4px;
}
.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill var(--transition-dur-fanc);
}
.btn-close:hover,
.btn-close:focus {
    fill: var(--color-selected);
}

.modal-discription {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--font-color-subtitle);
    margin-bottom: 12px;
}
.input-name,
.input-phone,
.input-email {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;
    transition: border-color var(--transition-dur-fanc);
}
.input-name:focus,
.input-phone:focus,
.input-email:focus,
.user-message-text:focus {
    outline: none;
    border-color: var(--color-selected);
}
.input-name:focus + .icon-person,
.input-phone:focus + .icon-phone,
.input-email:focus + .icon-email {
    fill: var(--color-selected);
}

.label-name-text,
.label-phone-text,
.label-email-text,
.label-message-text {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--font-color-text);
    margin-bottom: 4px;
}

.icon-person,
.icon-phone,
.icon-email {
    display: block;
    fill: #212121;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    transition: fill var(--transition-dur-fanc);
}
.input-name-wrapper,
.input-phone-wrapper,
.input-email-wrapper {
    position: relative;
    display: block;
}
.user-message-text {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: border-color var(--transition-dur-fanc);
}
.user-message-text::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.label-name,
.label-phone,
.label-email {
    margin-bottom: 10px;
    display: block;
}
.form-checkbox {
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    color: var(--font-color-text);
    cursor: pointer;

    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}

.form-checkbox::before {
    content: '';
    display: block;
    width: 16px;
    height: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 8px;
    background-image: url(../images/box-inactive.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image var(--transition-dur-fanc),
        box-shadow var(--transition-dur-fanc);
}

.input-check:checked ~ .form-checkbox::before {
    background-image: url(../images/box-active.svg);
    box-shadow: none;
}

.link-agreement {
    color: var(--color-selected);
}
.modal-form-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    text-align: center;
    letter-spacing: 0.06em;
    display: block;
    margin-left: auto;
    margin-right: auto;

    color: var(--font-color-on-dark);
    padding: 10px 52px;
    background-color: var(--color-selected);
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color var(--transition-dur-fanc);
}
.modal-form-button:hover,
.modal-form-button:focus {
    background-color: var(--background-button-hover);
}
/*-----------------/MODAL WINDOW-------------*/

/*-----------------PORTFOLIO PROJECTS------------*/
.filter {
    font-family: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62ch;
    letter-spacing: 0.03em;
    display: block;
    padding: 6px 22px;
    min-height: 38px;
    color: var(--font-color-subtitle);
    border: 1px solid var(--background-light);
    border-radius: 4px;

    cursor: pointer;
    background-color: var(--background-light);
    transition: color var(--transition-dur-fanc),
        background-color var(--transition-dur-fanc),
        border var(--transition-dur-fanc), box-shadow var(--transition-dur-fanc);
}
.filter:hover,
.filter:focus {
    color: var(--font-color-on-dark);
    background-color: var(--color-selected);
    border: 1px solid var(--color-selected);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
        0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-list-item:not(:last-child) {
    margin-right: 8px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.project-list-item {
    flex-basis: calc((100% - 2 * 30px) / 3);
}
.project-list-link {
    display: block;

    transition: box-shadow var(--transition-dur-fanc);
}
.project-list-link:hover,
.project-list-link:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
        0 4px 4px 0 rgba(0, 0, 0, 0.06);
}
.project-list-card {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--font-color-subtitle);

    margin-bottom: 4px;
}
.project-description {
    font-size: 16px;
    line-height: 1.87;

    color: var(--font-color-text);
}
.project-list-img-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    font-size: 18px;
    line-height: 1.56;
    color: var(--font-color-on-dark);
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    padding: 63px 24px;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-fanc);
}
.project-list-link:hover .overlay,
.project-list-link:focus .overlay {
    transform: translate(0, 0);
}
